<!DOCTYPE html>
<html>
	<head>
		<title>Web Display</title>
		<meta http-equiv="refresh" content="1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	</head>

	<body>
		<!--
		<h3 id="status">Click location: </h3>
		-->
		<img id="image" src="data:image/jpg;base64,{{img_data}}"/>
	</body>

	<script>
/** Calculate the click location within the image by subtracting the image location relative to the origin from the click location relative to the origin, where the origin is the top left corner of the page. 
*/
	$("#image").click(function(e) {
		var x = e.pageX - this.offsetLeft;
		var y = e.pageY - this.offsetTop;
		var width = this.width;
		var height = this.height;

		$('#status').html("Click location: " + x + ', ' + y + "\nImage size: " + width + "x" + height);  // write the detected coordinate to the 'status' HTML element

  // jQuery.post Syntax: $(selector).post(URL, data, function(data, status, xhr), dataType)
		$.post('/webdisplay', {
			clickX: x,
			clickY: y,
			imageWidth: width,
			imageHeight: height
		},
		function() {
			window.location.href=window.location.href; // refreshes the page
		}
		);
	});


	</script>
</html>
